<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>K.I.no</title>
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='stylesheets/styles.css') }} ">
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='stylesheets/colors.css') }} ">
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='stylesheets/calendar.css') }} ">
    </head>
    <body>
        <div class="overlay" id="overlay">
            <div class="loader">
                <h1 id="loadingText">Loading K.I.no</h1>
                <div class="progress-bar">
                    <div class="progress" id="progressBar"></div>
                </div>
            </div>
        </div>
        <header>
            <img src=" {{ url_for('static', filename='images/kinologo.png') }} " class="logo">

            <a href="https://github.com/Tisinti/K.I.no" target="_blank" class="github-link">
                <img src=" {{ url_for('static', filename='images/github.png') }} " alt="GitHub Logo" class="github-logo">
            </a>
        </header>

        <div>
            <form action="{{ url_for('result') }}" method="post" class="input">
                <div class="input-group">
                    <input name = "title" type="text" id="filmInput" list="suggestions" placeholder="Insert Movie.....">
                    <ul id="suggestions" class="suggestions"></ul>
                    <input name = "date" type="text" id="dateInput" placeholder="Datum: DD.MM.YYYY ...">
                    <input type="submit" value="Submit">
                </div>   
            </form>         
        </div>

        <div class="about">
            <h1>Gib einen Film und ein Datum ein, um eine Vorhersage zu erhalten wie viele Zuschauer ins Uni-Kino kommen könnten!</h1>
            <h4>Ergebnisse sind noch nicht perfekt und werden es wahrscheinlich auch nie sein, aber geben meistens eine ganz gute Tendenz</h4>
        
            <p><a href="https://www.asta-trier.de/cineasta/" rel="noopener noreferrer">https://www.asta-trier.de/cineasta/</a> ✨</p>
        </div>        
          
        <footer>
        </footer>

    </body>
    <script type="text/javascript">
        var key = {{data.key|tojson}}
    </script>
    <script src=" {{ url_for('static', filename='javascripts/functions.js') }} " ></script>
    <script src=" {{ url_for('static', filename='javascripts/calendar.js') }} "></script>
    <script src=" {{ url_for('static', filename='javascripts/tmdb-connection.js') }} "></script>
</html>